<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Laboratorio LIMS</title>
        
      <script type="module" crossorigin src="/assets/index-60c5f486.js"></script>
      <link rel="stylesheet" href="/assets/index-a964bbb1.css">
    </head>
    <body>
        <div id="felicityApp">
            <div id="fel-load">
                <p>Laboratorio</p>
                <div class="fel-loader"></div>
            </div>
        </div>
        
    </body>
</html>
